<div class="wrapper">
  <div class="left-wrapper">
    <div class="search">
      <div id="buttons">
        <a class="btn blue">submit</a>
      </div>
    </div>
    <div class="container">
      <div class="row"> 
        <%= render "shared/card_container" %>
      </div>
    </div>
  </div>
  <div class="map">   
  </div>
</div>