<div class="wrapper-events">
  <div class="left-wrapper">
    <!-- <div class="search">
      <div id="buttons">
        <a class="btn blue">submit</a>
      </div>
    </div> -->
    <div class="card-container">
      <div class="row">
        <%= render "card-container" %>
      </div>
    </div>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
></div>
</div>

