<div class="wrapper">
	<div class="left-container-show">
		<div class="pic-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=image_path "http://images.unsplash.com/photo-1501146763593-4a4242b2040e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3f2e4a0dabdf63cd544be468a54696f", crop: :fill %>);">	
		</div>
		<div id="map">
			<p>hello world</p>
		</div>
	</div>
	<div class="right-container-show">
		<div id="buttons cancel-btn">
  		<a class="btn cancel-seat">Cancel Seat</a>
		</div>
	</div>
</div>
