.wrapper-events{
  background: #33658A;
  display: flex;
}
// #map {
//   flex: 1 0 450px;
//   height: 100hv;
//   position: sticky !important;
//   top: 0 !important;
//   border: 1px solid black;
// }
.left-wrapper{
  flex-grow: 1;
  padding: 25px;
}

// .date-form {
//   flex: 0 0 200px;
//   // height: calc(100vh);
//   // position: sticky !important;
//   top: 0 !important;
//   left: 10px;
//   // border: 1px solid black;
//   margin: 0px;
// }

