// .show-container{
//   display: flex;
//   justify-content: space-around;
//  background: #65B891;
// }


// .info{
//   display: flex;
//   border: 1px solid black;
//   flex-grow: 1;
//   margin: 0px 40px 700px 9px;
//   box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
//   background: gray;
// }


// .show-container > #map  {
//    margin: 0px 40px 393px 9px;
//   box-shadow: rgba(0,0,0,0.4) 10px 10px 10px;

// }

.cancel-seat{

  background-color: #315972;
  box-shadow: 0px 4px 0px 0px #375f78;
}


 .grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
  height: 100vh;


}

.text {
  grid-row: 1/ span 2;
  grid-column: 1/ span 1;
  box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  padding: 30px;
  border: 1px  solid gray;
  text-align: center;
  box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;
  background: #FDFDFC;

}


.grid .show-map {
  grid-row: 2/ span 1 !important;
  grid-column: 2/ span 1 !important;
  margin: 0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;
  border: 1px solid black;
  height: 100% !important;
}

.pic-card {
  grid-row: 1 /span 1;
  grid-column: 2/ span 1;
  margin: 0 0 10px 0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;
}



@media(max-width: 720px) {
  .grid {
  display: inline-block;
  }

}

.avatarshow {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: gray;
   margin: 28px -235px -131px 213px;
}

.description {
  color: #ccc;
}
