// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "footer";
@import "card";
@import "btn";
@import "cardshome";


.date-title {
  color: white;
  text-shadow: 0 0px 1px rgba(0,0,0,0.6);
  font-weight: 1000;
}
