
.page-container{
	display: flex;
	min-height: 800px;
	justify-content: space-around;
}

 .left-container {
	padding: 20px;
    margin: 60px 20px 40px 60px;
    background: gray;
    flex: 1 3 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px;
    border-radius: 3px;
    text-align: center;


}

.right-container {
 	margin: 60px 60px 60px 20px;
	flex: 3 1 60%;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 3px;


}

.right-container > .bookings-picture{
	margin-bottom: 15px;
	height: 50%;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 3px;
	border-radius: 3px;


}

.right-container > #map {
	margin-top: 15px;
	height: 50%;
	border-radius: 3px;
}

#booking-name{
	font-weight: 700;
}

